@media (max-width: 1140px) {
  .nav-list {
    gap: 40px;
  }

  .mountain-info {
    font-size: 64px;
  }

  .section-title {
    font-size: 32px;
  }
}

@media (max-width: 900px) {

  .about__content,
  .catalog__content {
    flex-direction: column;
  }

  .about__img,
  .about__text,
  .catalog__text,
  .catalog__image {
    width: 100%;
  }

  .catalog__image {
    height: 320px;
  }

  .catalog__image img {
    height: 100%;
  }

  .footer__content {
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .header__nav {
    flex-direction: column;
    height: auto;
    gap: 15px;
    padding: 15px 0;
  }

  .nav-list {
    gap: 20px;
  }

  .banner {
    height: 420px;
  }

  .hero-content {
    height: 420px;
    padding: 0 10px;
  }

  .mountain-info {
    font-size: 40px;
  }

  .hero-btn,
  .btn {
    width: 100%;
    max-width: 280px;
  }

  .section-title {
    font-size: 28px;
  }

  .about {
    padding: 60px 0;
  }

  .catalog {
    padding-bottom: 80px;
  }

  .footer__content {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .mountain-info {
    font-size: 32px;
  }

  .section-title span {
    width: 80px;
  }

  .about__text p,
  .catalog__text p {
    font-size: 16px;
  }

  .footer__socials {
    gap: 20px;
  }
}